*{
    margin: 0;
}

.header-title {
    color: #000;
    font-family: 'PT Serif';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.header-title-2 {
    color: #000;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.description {
    color: #000;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-header {
    display: flex;
    padding: 80px 170px 130px 150px;
    justify-content: space-between;
    align-items: center;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6 {
    width: 300px;
    height: 300px;
}